<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Webpage</title>
</head>
<body>
    <ul id="navigation">
  Hey guys!
Apache webserver {{ version_number }} is running on {{ server }}
Enjoy!
    </ul>

    <h1>My Webpage</h1>
    {{ a_variable }}

  
</body>
</html>